@font-face{
  font-family: 'kiran';
  src: font-url("kiran.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'surekh';
  src: font-url("Dvsr3ntt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}



